<div class="row row-cols-1 row-cols-md-3 g-4">
  {% comment %} 기본은 하나씩, 창이 md 이상일때는 3개씩 보여줌 {% endcomment %}
  {% for post in posts %}
    <div class="col">
      <div class="card"> 
        {% comment %} 이미지 없을 때도 있으니 조건문 넣어줘야 함 {% endcomment %}
        {% if post.image %} 
          <img src="{{ post.image.url }}" class="card-img-top" alt="no-image">
        {% endif %}
        {% comment %} card-body에서 빼주면 이미지 꽉차게 들어감 {% endcomment %}

        {% comment %} 내용 및 버튼 {% endcomment %}
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          {% comment %} 버튼 한 줄로 나열 {% endcomment %}
          <div class="row">
            <div class="d-flex justify-content-end">
              <a href="{% url 'posts:update' post.pk %}" class="btn btn-info btn-xs">수정</a>
              <form action="{% url 'posts:delete' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="button" class="btn btn-danger btn-sm">삭제</button>
              </form>
            </div>
          </div>
        </div>
{% comment %} 여기부터 {% endcomment %}
        {% comment %} 작성자 링크 따로 빼줌 {% endcomment %}
        <div class="card-footer text-muted">
          {% comment %} post와 user 연결하고자 외래키 사용 후 참조 사용 {% endcomment %}
          작성자 : <a href="{% url 'accounts:profile' post.user.username %}" class="card-link">{{ post.user.username }}</a>
        </div>

      </div>
    </div>
  {% endfor %}
</div>