#login_icon {
  height: 95px;
  width: 100px;
}

#signup_icon {
  height: 90px;
  width: 100px;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.my-nav {
  display:flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
}

.my-nav > .my-logo {
  /*  */
}

.my-nav > .my-info {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}



