* {
    margin: 0;
    padding: 0;
}


/*Keyframes*/
@keyframes rain_effect {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 400px 800px, 300px 300px, 200px 200px; background-color: #ffffff}
    100% {background-position: 0px 0px, 0px 0px, 0px 0px; background-color: #ffffff}
}

@-moz-keyframes rain_effect {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 400px 800px, 300px 300px, 200px 200px; background-color: #ffffff}
    100% {background-position: 0px 0px, 0px 0px, 0px 0px; background-color: #ffffff}
}

@-webkit-keyframes rain_effect {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 400px 800px, 300px 300px, 200px 200px; background-color: #ffffff}
    100% {background-position: 0px 0px, 0px 0px, 0px 0px; background-color: #ffffff}
}

@-ms-keyframes rain_effect {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 400px 800px, 300px 300px, 200px 200px; background-color: #ffffff}
    100% {background-position: 0px 0px, 0px 0px, 0px 0px; background-color: #ffffff}
}


body {
    background-color:#ffffff;
    background-image: url('../images/lemon_big.png');
    animation: rain_effect 40s linear infinite;
    -webkit-animation: rain_effect 40s linear infinite;
    -moz-animation: rain_effect 40s linear infinite;
    -ms-animation: rain_effect 40s linear infinite;
    
    font-family: Comic Sans MS;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    /* color: #c4c3ca; */
    overflow-x: hidden;
}

.my-back {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.my-recommend {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
}

.recommend-btn{  
border-radius: 4px;
height: 44px;
font-size: 13px;
font-weight: 600;
text-transform: uppercase;
-webkit-transition : all 200ms linear;
transition: all 200ms linear;
padding: 0 30px;
letter-spacing: 1px;
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
justify-content: center;
-ms-flex-pack: center;
text-align: center;
border: none;
background-color: #ffeba7;
color: #102770;
box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}