.back {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.back::before {
    content: "";
    position: absolute;
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}
    
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: Comic Sans MS;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: hidden;
}  

#container {
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
}

.my-back {
	position: relative;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	margin-left: 35px;
    margin-right: 35px;
    height: 90px;
}