{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<header>
  <div class="container">
    <img src="{% static 'images/logo.png'%}" alt="logo">
    {% if request.user.is_authenticated %}
      <div class="index-button">
        <a href="{% url 'movies:category_genre' %}" class="btn btn-danger">장르별</a>
        <a href="{% url 'movies:category_era' %}" class="btn btn-primary">시대별</a>
        <a href="{% url 'movies:category_country' %}" class="btn btn-primary">국가별</a>
      </div>
    {% endif %}
  </div>
</header>
{% endblock content %}

{% block script %}

{% endblock script %}