{% extends 'base.html' %}

{% block content %}
  <div class="container" style="width:100%; height: 90%;">
    <div class="row" style="width:100%; height: 100%;">
      {% if movies_dict %}
        <div id="container1" class="col-6"></div>
        <div id="container2" class="col-6"></div>
      {% else %}
        <h1 class="text-center">Click movies, please!</h1>
      {% endif %}
    </div>
  </div>
{% endblock content %}


{% block script %}
{% comment %} AnyChart cdn {% endcomment %}
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-pie.min.js"></script>

<script type="text/javascript"> 
  anychart.onDocumentReady(function () {

    // 워드 클라우드
    // create data (json 데이터를 자바스크립트언어로 바꿈)
    var data1 = {{ j_results1|safe }}

    // create a chart and set the data
    var chart = anychart.tagCloud(data1)

    chart.angles([0])

    // set the container id
    chart.container("container1")

    // initiate drawing the chart
    chart.draw()

    //chart.mode("spiral");
    chart.hovered().fill("#fc0834")
    chart.normal().stroke("#0a104f")
    chart.normal().fontWeight(700)
    chart.normal().fontFamily('Comic Sans MS')
    chart.textSpacing(10)

    // add an event listener to open a url on click
    chart.listen("pointClick", function(e){
      var url = "http://127.0.0.1:8000/movies/movie/" + e.point.get("y") + "/click/"
      location.href=url // url로 이동   
    })
    var background1 = chart.background()
    background1.fill('transparent')


    // 도넛 차트
    var data2 = {{ j_results2|safe }}

    // create a pie chart and set the data
    var chart = anychart.pie(data2)

    /* set the inner radius
    (to turn the pie chart into a doughnut chart)*/
    chart.innerRadius("45%")

    var label = anychart.standalones.label();
    label.text("My Favorite Genre")
    label.width("100%")
    label.height("100%")
    label.adjustFontSize(true)
    label.fontColor("#60727b")
    label.hAlign("center")
    label.vAlign("middle")
    label.fontFamily('Comic Sans MS')

    // set the label as the center content
    chart.center().content(label)

    // set the container id
    chart.container("container2")

    // initiate drawing the chart
    chart.draw()

    //adjust legend
    var legend = chart.legend()
    legend.enabled(true)
    legend.position("top")
    legend.align("center")
    // legend.itemsLayout("vertical")
    legend.fontFamily('Comic Sans MS')
    legend.fontSize(20)

    //adjust font 
    var labels = chart.labels()
    labels.fontColor('white')
    labels.fontFamily('Comic Sans MS')
    labels.fontSize(15)

    var background2 = chart.background()
    background2.fill('transparent')
})
</script>
{% endblock script %}